.swiper-container {
  width: 100%;
  height: auto !important;
  margin: 0 !important;
}

  .swiper-wrapper {
    height: auto !important;
  }
  
  .swiper-slide {
    background: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    cursor: pointer;
    border-radius: $main_border_radius;
  }

  .swiperDisplay {
    height: auto !important;
    max-height: auto !important;
    box-sizing: border-box;
    padding-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  .swiperNav .swiper-slide {
    width: 25%;
    height: 70px;
    max-height: 70px;
    opacity: 0.4;
    overflow: hidden;
    border-radius: $main_border_radius;

    &:hover {
      opacity: 1;
    }
  }

  .image-item {
    overflow-y: scroll !important;
    height: 58vh !important;
    padding-right: 3px;
  }

  .swiperNav .swiper-slide-thumb-active {
    opacity: 1;
    cursor: none !important;
  }

  

  .swiper-button-prev {
    left: auto;
    right: 35px !important;
  }

  .swiper-button-next {
    left: auto;
    right: 0 !important;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    background-image: none !important;
    position: absolute !important;
    top: 0 !important;
    margin: 0 !important;
    z-index: 10;
    cursor: pointer;
    color: $secondaryColor;
    padding: 13px; 
    background-color: $whiteColor !important;
    border-radius: 50px;
    border: 1px solid $backgroundLight;

    &:hover {
      background-color: #ffffff69;
    }
  }

  .sandbox-item-actions {
    padding-top: 5px;
    padding-bottom: 15px;

  .btn-action {
    margin-left: 10px !important;

    &:nth-child(1) {
      margin-left: 0 !important;
    }
  }
}

@media #{$mobile} {

  .detail__bottom-actions {
    margin-bottom: 3rem !important;
  }

  .detail__bottom-actions.alignX,
  .detail__bottom-actions.alignX a {
    display: block !important;
  }

  .detail__bottom-actions.alignX a {
    margin: 25px 0;
  }

  span {
    display: none;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    display: none !important;
  }

  .image-item {
    height: 40vh !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
    justify-content: center;
    display: block;
  }

  .btn-actions-res {

    display: flex !important;

    .btn-action {
      box-shadow: none !important;
      border: 1px solid $disableColor;
      margin-left: 15px !important;

      i {
        font-size: 20px;
      }
    }
  }
}