 .tab-header {
    width: 100%;

    margin-bottom: 20px;

    .brand {
        color: $secondaryColor !important;
        font-weight: 600;
        font-size: 1.2rem;
        justify-content: center !important;
        
        img {
            width: 30px;
            margin-right: 10px;
        }
    }

    .btn-tab {
        justify-content: center !important;
        background-color: $whiteColor;
        color: $secondaryColor;
    
        &:hover,
        &:focus,
        &:active {
            background-color: $primaryColorTranslucentHover !important;
            color: $secondaryColor !important;
        }

        &.active,
        &.active:hover {
            background-color: $primaryColorTranslucent !important;
            color: $secondaryColor !important;
        }
    }
}