 .tab-header {
    width: 100%;
    margin-bottom: 20px;

    .brand {
        color: $primaryTextColor !important;
        font-weight: 600;
        font-size: 1.2rem;
        
        img {
            width: 30px;
            margin-right: 10px;
        }
    }

    .btn-tab {
        justify-content: center !important;
        border: 1px solid transparent;
    
        &:hover {
            background-color: $primaryColor !important;
        }

        &.active{
            border: 1px solid transparent !important;
            background-color: $backgroundLight !important;
        }

    }
}