.upload {
    width: 100%;
    height: auto;
    border-radius: $main_border_radius;
    border: 2px solid $disableColor;
    margin: 20px 0;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    .image-icon {
        color: $secondaryDarkColor;
        font-size: 8rem;
        justify-content: center;
        width: 100%;
    }
}

.btn-upload {
    margin-top: 1rem;
    padding: 15px 30px;
    width: 50% !important;
    justify-content: center !important;

    .pushAside {
        display: none !important; 
        justify-content: none !important;
        margin: 0 !important;
    }

    i {
        font-size: $main_icon_size;
        margin-left: 15px;
        transform: translateY(5px);
    }
}

@media #{$mobile} {
    .upload {
        margin-top: 0 !important;
        margin-bottom: 20px;

    
    }
    .btn-upload {
        margin: 1rem 0 !important;
        padding: 10px 20px;
        width: 100% !important;
        margin-bottom: 20px !important;
    
    }
}

