// main color pallette

$primaryColor: #12c7af; 
$primaryDarkColor: #940325; // hoverDefault
$primaryLightColor: #e9083d; 
$secondaryColor: #423A3D; // primaryTextColor
$secondaryDarkColor: #CCCCCC; // disableColor
$secondaryTranslucentColor: #cccccc2c; // disableColor
$secondaryTextColor: #858282; // secondaryTextColor
$secondaryLightColor: #E8E9EB; // separator
$whiteColor: #FFFFFF; 
$blackColor: #000000;
$primaryColorTranslucent: #1eda9b31;
$primaryColorTranslucentDark: #1eda9b71;
$primaryColorTranslucentHover: #1eda9b0e;
$overlay: #00000069; 