// main color pallette

$primaryColor: #C3002F; 
$primaryDarkColor: #940325; // hoverDefault
$primaryLightColor: #e9083d; 
$secondaryColor: #423A3D; // primaryTextColor
$secondaryDarkColor: #CCCCCC; // disableColor
$secondaryTextColor: #858282; // secondaryTextColor
$secondaryLightColor: #E8E9EB; // separator
$whiteColor: #FFFFFF; 
$blackColor: #000000;
$whiteTranslucent: #ffffffd2; 
$overlay: #00000069; 